main {
 
    &.article {
        padding: 0;

        .article-header {
            padding: 0 1.5rem;
            margin-bottom: 8.8rem;

            .article-title {
                font-size: clamp(2.8rem, 100%, 4rem);
                line-height: 140%;
                margin-bottom: 3.2rem;
            }

            .article-categories {
                margin-bottom: 3.2rem;
            }

            .article-information {
                display: flex;
                gap: 0.8rem;
                align-items: center;
                margin-bottom: 3.2rem;

                .author-image {
                    img {
                        width: 4.8rem;
                        height: 4.8rem;
                    }
                }

                .information {
                    display: flex;
                    flex-direction: column;
                }
            }

            .featured-image {
                img {
                    width: 100%;
                }
            }
        }

        .article-content {
            padding: 0 1.5rem;
            img {
                width: 100%;
            }

            .introductory-text {
                color: $Brand_Grey_text_onlightbg;
                font-size: 2.2rem;
                font-weight: 400;
                line-height: 140%;
                text-transform: uppercase;
                margin-bottom: 4rem;
            }

            .list{
                list-style: disc;
                margin: 0 2.4rem 2.4rem;

                li{
                    font-size: 1.6rem;
                    line-height: 160%;
                }
            }

            p {
                color: $Brand_Grey_text_onlightbg;
                font-size: 1.6rem;
                line-height: 160%;
                margin-bottom: 2.4rem;

                &.subtitle {
                    text-align: center;
                    margin-bottom: 3.2rem;

                }

                &.highlight {
                    border-radius: 2rem;
                    padding: 2rem;
                    color: $Darker_Blue_text;
                    background-color: $Light_Blue_bg_color;
                    font-weight: 500;
                    margin-bottom: 8.8rem;
                }

                
            }

            .mini-game{
                margin-bottom: 8.8rem;
            }
        }

        .article-footer{
            .related-categories{
                padding: 0 1.5rem 10rem;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    background: url(../assets/svg/dividers/highlights-top-mobile.svg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    height: 5.8rem;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    z-index: -1;
                }
            }

            .author-section{
                display: flex;
                flex-direction: column;
                gap: 2.4rem;
                align-items: center;
                background-color: $Light_Yellow_bg_color;
                padding: 4rem 1.5rem;

                .author-image{
                    max-width: 10.4rem;
                }

                .author-information{
                    .author-name{
                        font-family: $Poppins;
                        font-size: 1.8rem;
                        margin-bottom: 1.6rem;
                        color: $Darker_Blue_text;
                    }

                    .author-description{
                        line-height: 160%;
                    }
                }
            }

            .related-articles{
                position: relative;
                padding: 10rem 1.5rem;

                &::before {
                    content: "";
                    position: absolute;
                    background: url(../assets/svg/dividers/highlights-bottom-mobile.svg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    height: 4.2rem;
                    width: 100vw;
                    top: 0;
                    left: 0;
                    right: 0;
                    z-index: 0;
                }
            }
        }
    }
}

.secondary-title {
    font-weight: 700;
    font-size: 2rem;
    line-height: 155%;
    color: $Darker_Blue_text;
    margin-bottom: 0.8rem;

    &.text-center{
        padding: 0 2.4rem;
        text-align: center;
    }

    &.mb-l{
        margin-bottom: 2.4rem;
    }
}

.small-title {
    margin-bottom: 1.6rem;
    font-weight: 500;
}

.share-article {
    margin-bottom: 4rem;
}