button {
	padding: 0.8rem 2.4rem;
	color: $white;
	border: none;
	background-color: $darker-grey;
	border-radius: 20px;
	font-weight: 500;
	cursor: pointer;

	@media screen and (min-width: 76.7){
		padding: 1.2rem 2rem;
	}

	&.primary {
		background-color: $primary;
		color: $text-dark;
	}

	&.secondary {
		background-color: $secondary;
	}

	&.challenge {
		background-color: rgba(0, 94, 134, 1);
		box-shadow: 0.4rem 0.6rem 0rem $Darker_Blue_text;
		border: 0.2rem solid $Darker_Blue_text;
		border-radius: 3rem;

		&:hover{
			background-color: rgba(255, 192, 0, 1);
            border-color: $Darker_Blue_text;
		}

		&_secondary{
			color: $Darker_Blue_text;
			background-color: $Yellow_CTA;
            border-color: $Darker_Blue_text;
		}
	}
}