button {
	padding: 12px 20px;
	color: $white;
	border: none;
	background-color: $darker-grey;
	border-radius: 20px;
	font-weight: 500;

	&.primary {
		background-color: $primary;
		color: $text-dark;
	}

	&.secondary {
		background-color: $secondary;
	}
}
