.topbox-section{
    text-align: left;
    padding: 15rem 1.5rem 6rem;
    background: $Medium_Yellow_details_bg;

    h2.main-title{
        font-size: 3.2rem;
        color: $Darker_Blue_text;
        text-align: left;
    }

    .subtitle{
        color: $Brand_Grey_text_onlightbg;
        font-size: 1.8rem;
        line-height: 140%;
        max-width: 30ch;
        margin-bottom: 4.8rem;
    }

    img {
        display: block;
        margin: 0 auto;
    }
}

.filters-section{
    padding: 12rem 1.5rem 6rem;

    &::before {
        content: "";
        position: absolute;
        background: url(../assets/svg/dividers/topbox-desafios-bottom.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 6rem;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .active-filters{
        display: flex;
        flex-wrap: wrap;

        .active-filter{
            display: flex;
            align-items: center;
            gap: 0.4rem;
            background-color: $Medium_Blue_CTA;
            padding: 1.4rem 2rem;
            border-radius: 12rem;
            color: $white;
            border: 0.1rem solid $Darker_Blue_text;
        }
    }

}

.challenge-list-section{
    padding: 0rem 1.5rem;

    .number-results{
        display: block;
        font-size: 2.2rem;
        line-height: 140%;
        margin-bottom: 3.2rem;
        color: $Brand_Grey_text_onlightbg;
    }
}

.pagination-section{
    padding: 6rem 1.5rem 8rem;
  
    .pagination-wrapper{
        display: flex;
        gap: 0.8rem;
        align-items: center;
        justify-content: center;

        .pagination-element{
            display: flex;
            width: 3.2rem;
            height: 3.2rem;
            align-items: center;
            justify-content: center;

            &.active{
                background-color: $Darker_Blue_text;
                border-radius: 100%;

                a{
                    color: $white;
                }
            }
        }
    }
  
}


.challenge_list {
    gap: 2.4rem;

    @media screen and (min-width: $tablet) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
