body {
    &.game {
        background: $Medium_Blue_CTA;
    }
}

.challenge-game {
    background: $Medium_Blue_CTA;
    min-height: 100vh;
    z-index: 1;

    .choose_ciclo {
        padding: 3.2rem 1.5rem;
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: space-between;
        min-height: 100%;

        .options {
            margin-top: 4rem;
            margin-bottom: 4rem;

        }

        #init_game {
            margin-bottom: 4rem;
        }

    }

    .quiz-header {
        width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4rem;

        h3 {
            color: $white;
            font-size: 2rem;
            line-height: 155%;
            font-weight: 500;
            align-self: center;
            max-width: 75%;
            text-align: center;
        }
    }

    .close-challenge {
        align-self: flex-end;
        background: $Darker_Blue_text;
        width: 4.4rem;
        height: 4.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .challenge-question {
        padding: 3.2rem 1.5rem;
        color: $white;

        .question-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 4.2rem;


            .question_header_icons {
                display: flex;
                gap: 1.6rem;
            }

            .question_number {

                .question_number_text {
                    font-size: 1.4rem;
                    line-height: 140%;
                }

                .question_dots {
                    .dot {
                        display: inline-block;
                        width: 0.8rem;
                        height: 0.8rem;
                        background-color: $white;
                        border-radius: 100%;

                        &.active {
                            background-color: $Yellow_CTA;
                        }
                    }
                }
            }
        }

        .challenge-information {
            text-align: center;
            margin-bottom: 4.2rem;

            .subtitle {
                color: $white;
                font-size: 1.2rem;
                margin-bottom: 0.8rem;
            }

            .title {
                font-size: 2rem;
                line-height: 155%;
                font-weight: 500;
                max-width: 75%;
                text-align: center;
                margin: 0 auto;
                color: $white;
            }
        }

        .image-game {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: 1fr;

            .image {

                img {
                    width: 100%;
                }
            }
        }
    }

    .result {
        padding: 3.2rem 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100%;
        text-align: center;

        &#result_final {
            gap: 8rem;
        }

        .result_title {
            font-family: "Libre Baskerville", serif;
            color: $white;
            font-weight: 700;
            font-size: 2.8rem;
            margin-bottom: 5.2rem;
        }

        .solution {
            color: $Lighter_Yellow_bg_color;

            img {
                z-index: 0;
            }

            svg {
                z-index: 0;
            }

            span {
                display: block;
                max-width: 80%;
                margin: 0 auto;
                font-size: 1.6rem;
                font-weight: 500;
                color: $Darker_Blue_text;
                position: relative;


                background: $Medium_Blue_bg_color;
                border-radius: 3rem;
                padding: 1.2rem 2.4rem;

                margin-top: -4rem;
                margin-bottom: 2.4rem;
                z-index: 1;

                &.double {
                    margin-top: -8rem;
                }
            }

            p {
                color: $Lighter_Yellow_bg_color;
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 160%;
                margin-bottom: 3.2rem;

                &.result_small {
                    font-size: 1.2rem;
                    margin-bottom: 0.8rem;
                    line-height: 140%;
                }

                &.result_big {
                    font-family: 'Libre Baskerville';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 4.8rem;
                    line-height: 130%;
                    letter-spacing: 0.05em;
                    margin-bottom: 3.2rem;

                }
            }

            .result_share_title {
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                font-size: 1.6rem;
                line-height: 160%;
                color: $Lighter_Yellow_bg_color;
                margin-bottom: 1.6rem;

            }

            .social-icons {
                display: flex;
                gap: 1.6rem;
                align-items: center;
                justify-content: center;
            }

            a, button {
                display: block;
                color: $white;
                font-weight: 500;
                font-size: 1.6rem;
                line-height: 160%;
                text-decoration-line: underline;

                margin-bottom: 5.6rem;
            }
        }

        .secondary-title {
            color: $Lighter_Yellow_bg_color;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 1.6rem;
            line-height: 155%;
        }
    }

    .multiple_question {
        .avatar {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 5.6rem;

            .avatar_background {
                position: absolute;
            }

            img {
                position: relative;
                margin: 0 auto;
            }

            .avatar_circles {
                position: absolute;
            }
        }

    }

    .select_pairs {
        .pairs {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: 1fr;
            gap: 1.5em;

            .pair {
                &.shake {
                    animation: tilt-shaking 0.3s linear;
                }
            }
        }

    }


}


//Options 
.options {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 100%;

    .option {
        padding: 1.6rem 2.4rem;
        background: $Light_Yellow_bg_color;
        color: $Darker_Blue_text;
        border: 0.2rem solid $white;
        border-radius: 20rem;

        &.active {
            background: $Yellow_CTA;
            border-color: $Darker_Blue_text;
        }
    }
}

// Avatar
.avatar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5.6rem;

    .avatar_background {
        position: absolute;
    }

    img {
        position: relative;
        margin: 0 auto;
    }

    .avatar_circles {
        position: absolute;
    }
}


@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0eg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}