.game-background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: hidden;

    .big-shape,
    .dots {
        position: absolute;

    }

    .initial-screen {
        width: 100%;
        height: 100%;
        position: absolute;

        >.big-shape {
            top: -9rem;
            left: -20rem;
        }

        >.dots {
            top: -7rem;
            left: 6rem;
        }
    }


    .first-screen {
        >.big-shape {
            &.bottom {
                bottom: -45rem;
                right: -25rem;
            }

            &.top {
                top: -19rem;
                left: -30rem;
            }
        }

        >.dots {
            top: -15rem;
            left: -25rem;
        }
    }

    .second-screen {

        .big-shape,
        .dots {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    }

    .third-screen {
        >.big-shape {
            &.bottom {
                bottom: 0;
                right: 0rem;
            }

            &.top {
                top: 0;
                left: 0;
            }
        }

        >.dots {
            bottom: 0rem;
            right: 0rem;
        }
    }

    .result-screen{
        >.big-shape {
                top: 45%;
                left: 50%;
                transform: translate(-50%, -50%);
        }

        >.dots {
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

}