.game-background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .big-shape,
    .dots {
        position: absolute;

    }

    .initial-screen {
        width: 100%;
        height: 100%;
        position: absolute;

        > .big-shape {
            top: -9rem;
            left: -20rem;
        }

        > .dots {
            top: -7rem;
            left: 6rem;
        }
    }


    .first-screen {
        > .big-shape {
            &.bottom {
                bottom: 0;
                right: -5rem;
            }

            &.top {
                top: -9rem;
                left: -20rem;
            }
        }

        > .dots {
            top: -7rem;
            left: 6rem;
        }
    }
}