.gridrow {
	width: $grid-width;
	margin: 0 auto;
	@media (min-width: $tablet) {
		width: $grid-width-t;
	}
	@media (min-width: $desktop) {
		width: $grid-width-d;
	}
	@media (min-width: $desktop-lg) {
		width: $grid-width-d-lg;
	}
}
.gridrow {
	display: flex;
	flex-wrap: wrap;
	.col {
		flex: 1;
		box-sizing: border-box;
		padding-left: $grid-gutter / 2;
		padding-right: $grid-gutter / 2;
	}
	@for $i from 1 through $grid-columns {
		.col-#{$i} {
			box-sizing: border-box;
			width: percentage($i/$grid-columns);
			padding-left: $grid-gutter / 2;
			padding-right: $grid-gutter / 2;
		}
		.offset-#{$i} {
			margin-left: percentage($i/$grid-columns);
		}
	}
	@media (min-width: $tablet) {
		.col-t {
			flex: 1;
			box-sizing: border-box;
			padding-left: $grid-gutter / 2;
			padding-right: $grid-gutter / 2;
		}
		.offset-t {
			margin-left: 0;
		}
		@for $i from 1 through $grid-columns {
			.col-t-#{$i} {
				box-sizing: border-box;
				width: percentage($i/$grid-columns);
				padding-left: $grid-gutter / 2;
				padding-right: $grid-gutter / 2;
			}
			.offset-t-#{$i} {
				margin-left: percentage($i/$grid-columns);
			}
		}
	}
	@media (min-width: $desktop) {
		.col-d {
			flex: 1;
			box-sizing: border-box;
			padding-left: $grid-gutter / 2;
			padding-right: $grid-gutter / 2;
		}
		.offset-d {
			margin-left: 0;
		}
		@for $i from 1 through $grid-columns {
			.col-d-#{$i} {
				box-sizing: border-box;
				width: percentage($i/$grid-columns);
				padding-left: $grid-gutter / 2;
				padding-right: $grid-gutter / 2;
			}
			.offset-d-#{$i} {
				margin-left: percentage($i/$grid-columns);
			}
		}
	}
	&.no-gutter {
		.col,
		.col-t,
		.col-d {
			padding: 0;
		}
		@for $i from 1 through $grid-columns {
			.col-#{$i},
			.col-t-#{$i},
			.col-d-#{$i} {
				padding: 0;
			}
		}
	}
}

.gridrowfull {
	width: 100%;
}
