section {
	position: relative;

	h2 {
		margin-bottom: 2.4rem;
		text-align: center;
		line-height: 155%;
	}


	&.landing-first {
		height: 100vh;

		.section-text {
			padding: 6rem;
		}
	}

	&.landing-video {
		height: 100vh;

		.cover_video {
			position: absolute;
			object-fit: cover;
			width: 100%;
			height: 100%;
			z-index: -1;
		}

		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			bottom: 0;
			z-index: 0;
			background: linear-gradient(180deg,
					rgba(47, 49, 49, 0) 0%,
					#2f31317c 100%);
		}

		.section-text {
			color: $white;
			padding: 3rem 1.5rem;
			justify-content: flex-end;
			z-index: 2;
		}
	}

	&.initial_section {
		padding: 12rem 1.5rem 6rem;
		text-align: center;
		background: url(../assets/svg/backgrounds/first_section_mobile.svg);
		background-size: cover;
		background-position: top center;

		.subtitle {
			font-size: clamp(1.6rem, 100%, 2.4rem);
			color: $Brand_Grey_text_onlightbg;
			font-weight: 500;
			margin-bottom: 3.2rem;
			line-height: 2.5rem;
		}
	}

	&.features-section {
		padding: 6rem 2rem 12rem;

		h2 {
			font-size: clamp(2.8rem, 100%, 4.8rem);
			margin-bottom: 4.8rem;
			text-align: center;
		}

		.features-list {
			gap: 4rem;

			.feature {

				.feature-image {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 20rem;
					border-radius: 100%;
					margin: 0 auto;
					margin-bottom: 2.4rem;

					img {
						width: 16.5rem;
					}
				}

				.feature-text {
					text-align: center;
					font-size: 1.8rem;
					line-height: 125%;
					font-weight: 500;
				}
			}
		}

		&::after {
			content: "";
			position: absolute;
			background: url(../assets/svg/dividers/highlights-top-mobile.svg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			height: 5.8rem;
			width: 100%;
			bottom: 0;
			left: 0;
			z-index: -1;
		}
	}

	&.highlights-section {
		display: grid;
		grid-template-areas: "title"
			"tabs-content"
			"tabs";
		min-height: 68rem;
		padding: 1.8rem 0;
		background-color: $Light_Yellow_bg_color;
		position: relative;

		h2 {
			grid-area: title;
			max-width: 26ch;
		}

		.highlights_content {
			grid-area: tabs-content;
			min-height: 32rem;
			overflow: hidden;

			.highlight_content {
				display: none;
				position: relative;

				&.active {
					display: block;
				}

				.article_featured {
					width: 20rem;
					display: block;
					position: absolute;

					&.featured_1 {
						top: 0rem;
						left: -1rem;
					}

					&.featured_2 {
						top: 8rem;
						left: 22rem;
					}
				}
			}
		}


		.highlights-tabs {
			grid-area: tabs;
			display: flex;
			flex-direction: column;
			padding: 3.2rem 1.5rem;
			gap: 1.6rem;

			.highlight {
				border: 1px solid rgba(224, 174, 22, 1);
				border-radius: 2rem;
				display: flex;
				align-items: center;
				gap: 1.2rem;
				padding: 1.6rem;


				&.active {
					background-color: $white;
				}

				.highlight-text {
					font-size: 1.4rem;
				}

				.highlight-image {
					width: 3.2rem;
				}
			}
		}
	}

	&.cta-challenge {
		padding: 24rem 4.2rem;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;



		.svg_dots {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 0;

			svg {
				transform: scale(1) translateX(1.5rem);
			}
		}

		.svg-background {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: -1;

			svg {
				transform: scale(1) translateX(1rem);
			}
		}

		.cta_challenge_content {
			text-align: center;
			z-index: 1;
			color: $white;
			display: flex;
			flex-direction: column;
			gap: 1.6rem;

			h2 {
				color: $white;
				font-size: clamp(2.8rem, 100%, 5.4rem);
				font-weight: 700;
				line-height: 130%;
				margin: 0;
			}

			.subtitle {
				color: $white;
				line-height: 160%;
			}

			button,
			a {
				align-self: center;
			}
		}
	}

	&.articles_background {
		width: 100%;
		overflow: hidden;
		position: absolute;
		z-index: -1;
		transform: translateY(10rem);

		img {
			max-width: 150%;
		}

	}

	&.challenges-section {
		padding: 12rem 1.5rem 6rem;
		width: 100%;

		h2 {
			margin-bottom: 2.4rem;
			text-align: center;
		}


		&::before {
			content: "";
			position: absolute;
			background: url(../assets/svg/dividers/highlights-bottom-mobile.svg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			height: 4.2rem;
			width: 100vw;
			top: 0;
			left: 0;
			right: 0;
			z-index: 0;
		}

	}

	&.articles-section {
		padding: 6rem 0;

		h2 {
			text-align: center;
		}

		.articles_list {
			gap: 2.4rem;
			flex-wrap: nowrap;
			overflow-y: auto;
			padding: 0 1.5rem;
			padding-bottom: 2.4rem;
			scroll-snap-type: x;
			scrollbar-width: none;

			&::-webkit-scrollbar {
				display: none;
			}
		}
	}

	&.newsletter-section {
		padding: 6rem 1.5rem 12rem;
	}
}


//Others
.section-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: $grid-gutter;

	.main-title {
		max-width: 10ch;
		font-weight: 700;
		line-height: 130%;
		letter-spacing: 0.05rem;
	}

	.subtitle {
		font-size: 2.4rem;
	}
}

.section-image {
	width: 100%;
	height: 100%;
	background: $dark-grey;
}