$primary: rgba(255, 192, 0, 1);
$secondary: rgba(0, 157, 224, 1);

$pastelSecondary: rgba(249, 239, 208, 1);

//Cards


$text-dark: rgba(59, 61, 61, 1);

$dark-grey: #898b8b;
$darker-grey: #2f3131;
$medium-grey: #c4c5c5;
$light-grey: #ebecec;
$white: #ffffff;

// Responsive
$tablet: 750px;
$desktop: 960px;
$desktop-lg: 1400px;

$grid-gutter: 20px;
$grid-columns: 12;

$grid-width: calc(100% - #{$grid-gutter});
$grid-width-t: calc(90% - #{$grid-gutter});
$grid-width-d: $desktop - $grid-gutter * 3;
$grid-width-d-lg: $desktop-lg - $grid-gutter * 4;
