//Colors
$white: #ffffff;
$Light_Blue_bg_color: #E5F5FC;
$Medium_Blue_bg_color: #CCEBF9;
$Brand_Blue_bg_color: #009DE0;
$Medium_Blue_CTA: #005E86;
$Darker_Blue_text: #003F5A;
$Lighter_Yellow_bg_color: #FCF7E8;
$Light_Yellow_bg_color: #F9EFD0;
$Light_Yellow_details_bg: #FCF7E8;
$Medium_Yellow_details_bg: #F9EFD0;
$Yellow_Details: #E0AE16;
$Green_Details: #0BE0AD;
$Lighter_Grey_info: #626464;
$Yellow_CTA: #FFC000;
$Brand_Grey_text_onlightbg: #3B3D3D;


$primary: rgba(255, 192, 0, 1);
$secondary: rgba(0, 157, 224, 1);

//Cards
$text-dark: rgba(59, 61, 61, 1);

$dark-grey: #898b8b;
$darker-grey: #2f3131;
$medium-grey: #c4c5c5;
$light-grey: #ebecec;


// Responsive
$tablet: 76.7rem;
$desktop: 96rem;
$desktop-lg: 140rem;

$grid-gutter: 2rem;
$grid-columns: 12;

$grid-width: calc(100% - #{$grid-gutter});
$grid-width-t: calc(90% - #{$grid-gutter});
$grid-width-d: $desktop - $grid-gutter * 3;
$grid-width-d-lg: $desktop-lg - $grid-gutter * 4;

// Fonts
$Libre_Baskerville: "Libre Baskerville", serif;
$Poppins: 'Poppins', sans-serif;
