/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Libre+Baskerville:wght@100;200;300;400;500;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.gridrow {
  width: calc(100% - 2rem);
  margin: 0 auto;
}

@media (min-width: 76.7rem) {
  .gridrow {
    width: calc(90% - 2rem);
  }
}

@media (min-width: 96rem) {
  .gridrow {
    width: 90rem;
  }
}

@media (min-width: 140rem) {
  .gridrow {
    width: 132rem;
  }
}

.gridrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gridrow .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
}

.gridrow .col-1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 8.33333%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.gridrow .offset-1 {
  margin-left: 8.33333%;
}

.gridrow .col-2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 16.66667%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.gridrow .offset-2 {
  margin-left: 16.66667%;
}

.gridrow .col-3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.gridrow .offset-3 {
  margin-left: 25%;
}

.gridrow .col-4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 33.33333%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.gridrow .offset-4 {
  margin-left: 33.33333%;
}

.gridrow .col-5 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 41.66667%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.gridrow .offset-5 {
  margin-left: 41.66667%;
}

.gridrow .col-6 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.gridrow .offset-6 {
  margin-left: 50%;
}

.gridrow .col-7 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 58.33333%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.gridrow .offset-7 {
  margin-left: 58.33333%;
}

.gridrow .col-8 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 66.66667%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.gridrow .offset-8 {
  margin-left: 66.66667%;
}

.gridrow .col-9 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 75%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.gridrow .offset-9 {
  margin-left: 75%;
}

.gridrow .col-10 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 83.33333%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.gridrow .offset-10 {
  margin-left: 83.33333%;
}

.gridrow .col-11 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 91.66667%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.gridrow .offset-11 {
  margin-left: 91.66667%;
}

.gridrow .col-12 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.gridrow .offset-12 {
  margin-left: 100%;
}

@media (min-width: 76.7rem) {
  .gridrow .col-t {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .gridrow .offset-t {
    margin-left: 0;
  }
  .gridrow .col-t-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 8.33333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .gridrow .offset-t-1 {
    margin-left: 8.33333%;
  }
  .gridrow .col-t-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 16.66667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .gridrow .offset-t-2 {
    margin-left: 16.66667%;
  }
  .gridrow .col-t-3 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .gridrow .offset-t-3 {
    margin-left: 25%;
  }
  .gridrow .col-t-4 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 33.33333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .gridrow .offset-t-4 {
    margin-left: 33.33333%;
  }
  .gridrow .col-t-5 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 41.66667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .gridrow .offset-t-5 {
    margin-left: 41.66667%;
  }
  .gridrow .col-t-6 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .gridrow .offset-t-6 {
    margin-left: 50%;
  }
  .gridrow .col-t-7 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 58.33333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .gridrow .offset-t-7 {
    margin-left: 58.33333%;
  }
  .gridrow .col-t-8 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 66.66667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .gridrow .offset-t-8 {
    margin-left: 66.66667%;
  }
  .gridrow .col-t-9 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 75%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .gridrow .offset-t-9 {
    margin-left: 75%;
  }
  .gridrow .col-t-10 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 83.33333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .gridrow .offset-t-10 {
    margin-left: 83.33333%;
  }
  .gridrow .col-t-11 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 91.66667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .gridrow .offset-t-11 {
    margin-left: 91.66667%;
  }
  .gridrow .col-t-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .gridrow .offset-t-12 {
    margin-left: 100%;
  }
}

@media (min-width: 96rem) {
  .gridrow .col-d {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .gridrow .offset-d {
    margin-left: 0;
  }
  .gridrow .col-d-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 8.33333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .gridrow .offset-d-1 {
    margin-left: 8.33333%;
  }
  .gridrow .col-d-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 16.66667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .gridrow .offset-d-2 {
    margin-left: 16.66667%;
  }
  .gridrow .col-d-3 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .gridrow .offset-d-3 {
    margin-left: 25%;
  }
  .gridrow .col-d-4 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 33.33333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .gridrow .offset-d-4 {
    margin-left: 33.33333%;
  }
  .gridrow .col-d-5 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 41.66667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .gridrow .offset-d-5 {
    margin-left: 41.66667%;
  }
  .gridrow .col-d-6 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .gridrow .offset-d-6 {
    margin-left: 50%;
  }
  .gridrow .col-d-7 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 58.33333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .gridrow .offset-d-7 {
    margin-left: 58.33333%;
  }
  .gridrow .col-d-8 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 66.66667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .gridrow .offset-d-8 {
    margin-left: 66.66667%;
  }
  .gridrow .col-d-9 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 75%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .gridrow .offset-d-9 {
    margin-left: 75%;
  }
  .gridrow .col-d-10 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 83.33333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .gridrow .offset-d-10 {
    margin-left: 83.33333%;
  }
  .gridrow .col-d-11 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 91.66667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .gridrow .offset-d-11 {
    margin-left: 91.66667%;
  }
  .gridrow .col-d-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .gridrow .offset-d-12 {
    margin-left: 100%;
  }
}

.gridrow.no-gutter .col,
.gridrow.no-gutter .col-t,
.gridrow.no-gutter .col-d {
  padding: 0;
}

.gridrow.no-gutter .col-1,
.gridrow.no-gutter .col-t-1,
.gridrow.no-gutter .col-d-1 {
  padding: 0;
}

.gridrow.no-gutter .col-2,
.gridrow.no-gutter .col-t-2,
.gridrow.no-gutter .col-d-2 {
  padding: 0;
}

.gridrow.no-gutter .col-3,
.gridrow.no-gutter .col-t-3,
.gridrow.no-gutter .col-d-3 {
  padding: 0;
}

.gridrow.no-gutter .col-4,
.gridrow.no-gutter .col-t-4,
.gridrow.no-gutter .col-d-4 {
  padding: 0;
}

.gridrow.no-gutter .col-5,
.gridrow.no-gutter .col-t-5,
.gridrow.no-gutter .col-d-5 {
  padding: 0;
}

.gridrow.no-gutter .col-6,
.gridrow.no-gutter .col-t-6,
.gridrow.no-gutter .col-d-6 {
  padding: 0;
}

.gridrow.no-gutter .col-7,
.gridrow.no-gutter .col-t-7,
.gridrow.no-gutter .col-d-7 {
  padding: 0;
}

.gridrow.no-gutter .col-8,
.gridrow.no-gutter .col-t-8,
.gridrow.no-gutter .col-d-8 {
  padding: 0;
}

.gridrow.no-gutter .col-9,
.gridrow.no-gutter .col-t-9,
.gridrow.no-gutter .col-d-9 {
  padding: 0;
}

.gridrow.no-gutter .col-10,
.gridrow.no-gutter .col-t-10,
.gridrow.no-gutter .col-d-10 {
  padding: 0;
}

.gridrow.no-gutter .col-11,
.gridrow.no-gutter .col-t-11,
.gridrow.no-gutter .col-d-11 {
  padding: 0;
}

.gridrow.no-gutter .col-12,
.gridrow.no-gutter .col-t-12,
.gridrow.no-gutter .col-d-12 {
  padding: 0;
}

.gridrowfull {
  width: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  color: #2f3131;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

button {
  font-weight: 500;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Libre Baskerville", serif;
  color: #003F5A;
}

h1 {
  font-weight: bold;
  font-size: clamp(3.2rem, 100%, 6.4rem);
  line-height: 140%;
  margin-bottom: 2.4rem;
}

h2 {
  font-size: clamp(2rem, 100%, 4.8rem);
  color: #003F5A;
  line-height: 130%;
  font-weight: bold;
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

@media screen and (min-width: 76.8rem) {
  .mobile {
    display: none;
  }
  .desktop {
    display: none;
  }
}

.hidden {
  display: none !important;
}

.z-1 {
  z-index: -1;
}

.z0 {
  z-index: 0;
}

.z1 {
  z-index: 1;
}

.z10 {
  z-index: 10;
}

button,
a.btn {
  padding: 0.8rem 2.4rem;
  color: #ffffff;
  border: none;
  background-color: #2f3131;
  border-radius: 20px;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (min-width: 76.7) {
  button,
  a.btn {
    padding: 1.2rem 2rem;
  }
}

button.primary,
a.btn.primary {
  display: inline-block;
  background-color: #009DE0;
  color: #ffffff;
  border: 0.2rem solid #003F5A;
  border-radius: 3rem;
  -webkit-box-shadow: 0px 4px 10px rgba(59, 61, 61, 0.2);
          box-shadow: 0px 4px 10px rgba(59, 61, 61, 0.2);
}

button.secondary,
a.btn.secondary {
  -webkit-box-shadow: 0.4rem 0.6rem 0rem #003F5A;
          box-shadow: 0.4rem 0.6rem 0rem #003F5A;
  border: 0.2rem solid;
  color: #003F5A;
  background-color: #FFC000;
  border-color: #003F5A;
}

button.secondary:disabled,
a.btn.secondary:disabled {
  cursor: not-allowed;
  background-color: #F9EFD0;
}

button.newsletter,
a.btn.newsletter {
  padding: 1rem 2.4rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  z-index: 1;
}

button.challenge,
a.btn.challenge {
  background-color: #005e86;
  -webkit-box-shadow: 0.4rem 0.6rem 0rem #003F5A;
          box-shadow: 0.4rem 0.6rem 0rem #003F5A;
  border: 0.2rem solid #003F5A;
  border-radius: 3rem;
}

button.challenge:hover,
a.btn.challenge:hover {
  background-color: #ffc000;
  border-color: #003F5A;
}

button.challenge_secondary,
a.btn.challenge_secondary {
  color: #003F5A;
  background-color: #FFC000;
  border-color: #003F5A;
}

.card {
  padding: 0;
  border-radius: 2rem;
  overflow: hidden;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-shadow: 0px 4px 10px rgba(59, 61, 61, 0.15);
          box-shadow: 0px 4px 10px rgba(59, 61, 61, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card_challenge {
  padding: 11rem 2.4rem 2.4rem;
  border-radius: 2rem;
  overflow: hidden;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: #CCEBF9;
  position: relative;
}

.card_challenge::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  z-index: 0;
}

.card_challenge:nth-child(1n)::before {
  background: url(../assets/svg/challenge_cards/lasso.svg);
  width: 14.3rem;
  height: 12.3rem;
}

.card_challenge:nth-child(2n)::before {
  background: url(../assets/svg/challenge_cards/dots.svg);
  width: 25.9rem;
  height: 12rem;
}

.card_challenge:nth-child(3n)::before {
  background: url(../assets/svg/challenge_cards/blob_1.svg);
  width: 29.6rem;
  height: 10.3rem;
}

.card_challenge:nth-child(4n)::before {
  background: url(../assets/svg/challenge_cards/line.svg);
  width: 15.7rem;
  height: 8.9rem;
}

.card_challenge:nth-child(5n)::before {
  background: url(../assets/svg/challenge_cards/blob_2.svg);
  width: 33rem;
  height: 13.3rem;
}

.card_challenge.custom_challenge {
  background-color: #005E86;
}

.card_challenge.custom_challenge .share_challenge_link {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
}

.card_challenge.custom_challenge h4 {
  color: #ffffff;
}

.card_challenge.custom_challenge .description {
  color: #ffffff;
}

.card_challenge.custom_challenge::before {
  background: url(../assets/svg/challenge_cards/custom.svg);
  width: 28.7rem;
  height: 19.7rem;
}

.card_challenge:hover {
  background-color: #ccebf9;
}

.card_challenge:hover button {
  background-color: #ffc000;
  border: 2px solid #003F5A;
}

.card_challenge_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  z-index: 1;
}

.card_challenge_body .categories_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
}

.card_challenge_body .categories_group .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.6rem 0.8rem;
}

.card_challenge_body .categories_group .categories .category {
  background: #ffffff;
  padding: 0.8rem 1.2rem;
  border-radius: 50px;
  font-size: 1.4rem;
}

.card_challenge_body .title {
  font-family: "Libre Baskerville", serif;
  color: #003f5a;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 130%;
}

.card_challenge_body .description {
  color: #898b8b;
}

.card_challenge_body button,
.card_challenge_body a {
  -webkit-box-shadow: 0.4rem 0.6rem 0rem #003F5A;
          box-shadow: 0.4rem 0.6rem 0rem #003F5A;
  border: 0.2rem solid;
  color: #003F5A;
  background-color: #FFC000;
  border-color: #003F5A;
}

.card_article {
  background-color: #F9EFD0;
  min-width: 25.5rem;
  padding: 0;
  scroll-snap-align: center;
}

.card_article:hover {
  background-color: #F9EFD0;
}

.card_article_image {
  width: 100%;
  background-color: #898b8b;
  padding-top: 65%;
  background-size: cover;
}

.card_article:nth-child(1n) .card_article_image {
  background: url(../assets/images/articles/article_1.jpg);
}

.card_article:nth-child(2n) .card_article_image {
  background: url(../assets/images/articles/article_2.jpg);
}

.card_article:nth-child(3n) .card_article_image {
  background: url(../assets/images/articles/article_3.jpg);
}

.card_article:nth-child(4n) .card_article_image {
  background: url(../assets/images/articles/article_4.jpg);
}

.card_article .card_articles_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.4rem;
  gap: 2.4rem;
  min-height: 16.5rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card_article .card_articles_body .title {
  font-family: "Libre Baskerville", serif;
  color: #003f5a;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 130%;
}

.card_article .card_articles_body .description {
  color: #2f3131;
}

.card_article .card_articles_body .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8rem;
}

.card_article .card_articles_body .categories .category {
  background: #ffffff;
  padding: 0.8rem 1.2rem;
  border-radius: 50px;
  font-size: 1.4rem;
}

input,
select {
  font-family: 'Poppins';
  width: 100%;
  font-size: 1.4rem;
  padding: 1.8rem 2.6rem;
  border-radius: 2rem;
  color: #3B3D3D;
  margin-bottom: 2.4rem;
}

header {
  position: fixed;
  width: 100%;
  padding: 2.66rem 1.5rem;
  background: #ffffff;
  z-index: 10;
  -webkit-box-shadow: 0px 4px 10px rgba(59, 61, 61, 0.15);
          box-shadow: 0px 4px 10px rgba(59, 61, 61, 0.15);
}

header .logo {
  max-width: 50%;
}

header .logo img {
  width: 100%;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .left_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6rem;
}

header nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 0.8rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 4rem 0 12rem;
  background: #CCEBF9;
}

footer:after {
  content: '';
  position: absolute;
  background: url(../assets/svg/footer.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 8.4rem;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 0;
  text-align: center;
}

footer .footer_logo {
  margin: 0 auto;
  margin-bottom: 4.4rem;
}

footer .footer_menu {
  text-align: center;
}

footer .footer_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
}

footer .footer_menu ul li {
  color: #003F5A;
}

section {
  position: relative;
}

section h2 {
  margin-bottom: 2.4rem;
  text-align: center;
  line-height: 155%;
}

section.landing-first {
  height: 100vh;
}

section.landing-first .section-text {
  padding: 6rem;
}

section.landing-video {
  height: 100vh;
}

section.landing-video .cover_video {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

section.landing-video::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 49, 49, 0)), to(#2f31317c));
  background: linear-gradient(180deg, rgba(47, 49, 49, 0) 0%, #2f31317c 100%);
}

section.landing-video .section-text {
  color: #ffffff;
  padding: 3rem 1.5rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 2;
}

section.initial_section {
  padding: 12rem 1.5rem 6rem;
  text-align: center;
  background: url(../assets/svg/backgrounds/first_section_mobile.svg);
  background-size: cover;
  background-position: top center;
}

section.initial_section .subtitle {
  font-size: clamp(1.6rem, 100%, 2.4rem);
  color: #3B3D3D;
  font-weight: 500;
  margin-bottom: 3.2rem;
  line-height: 2.5rem;
}

section.features-section {
  padding: 6rem 2rem 12rem;
}

section.features-section h2 {
  font-size: clamp(2.8rem, 100%, 4.8rem);
  margin-bottom: 4.8rem;
  text-align: center;
}

section.features-section .features-list {
  gap: 4rem;
}

section.features-section .features-list .feature .feature-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20rem;
  border-radius: 100%;
  margin: 0 auto;
  margin-bottom: 2.4rem;
}

section.features-section .features-list .feature .feature-image img {
  width: 16.5rem;
}

section.features-section .features-list .feature .feature-text {
  text-align: center;
  font-size: 1.8rem;
  line-height: 125%;
  font-weight: 500;
}

section.features-section::after {
  content: "";
  position: absolute;
  background: url(../assets/svg/dividers/highlights-top-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 5.8rem;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
}

section.highlights-section {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title" "tabs-content" "tabs";
  min-height: 68rem;
  padding: 1.8rem 0;
  background-color: #F9EFD0;
  position: relative;
}

section.highlights-section h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  max-width: 26ch;
}

section.highlights-section .highlights_content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: tabs-content;
  min-height: 32rem;
  overflow: hidden;
}

section.highlights-section .highlights_content .highlight_content {
  display: none;
  position: relative;
}

section.highlights-section .highlights_content .highlight_content.active {
  display: block;
}

section.highlights-section .highlights_content .highlight_content .article_featured {
  width: 20rem;
  display: block;
  position: absolute;
}

section.highlights-section .highlights_content .highlight_content .article_featured.featured_1 {
  top: 0rem;
  left: -1rem;
}

section.highlights-section .highlights_content .highlight_content .article_featured.featured_2 {
  top: 8rem;
  left: 22rem;
}

section.highlights-section .highlights-tabs {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: tabs;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3.2rem 1.5rem;
  gap: 1.6rem;
}

section.highlights-section .highlights-tabs .highlight {
  border: 1px solid #e0ae16;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2rem;
  padding: 1.6rem;
}

section.highlights-section .highlights-tabs .highlight.active {
  background-color: #ffffff;
}

section.highlights-section .highlights-tabs .highlight .highlight-text {
  font-size: 1.4rem;
}

section.highlights-section .highlights-tabs .highlight .highlight-image {
  width: 3.2rem;
}

section.cta-challenge {
  padding: 24rem 4.2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

section.cta-challenge::before {
  content: "";
  position: absolute;
  background: url(../assets/svg/dividers/highlights-bottom-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 4.2rem;
  width: 100%;
  top: 0;
  z-index: 0;
}

section.cta-challenge .svg_dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 0;
}

section.cta-challenge .svg_dots svg {
  -webkit-transform: scale(1) translateX(1.5rem);
          transform: scale(1) translateX(1.5rem);
}

section.cta-challenge .svg-background {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -1;
}

section.cta-challenge .svg-background svg {
  -webkit-transform: scale(1) translateX(1rem);
          transform: scale(1) translateX(1rem);
}

section.cta-challenge .cta_challenge_content {
  text-align: center;
  z-index: 1;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
}

section.cta-challenge .cta_challenge_content h2 {
  color: #ffffff;
  font-size: clamp(2.8rem, 100%, 5.4rem);
  font-weight: 700;
  line-height: 130%;
  margin: 0;
}

section.cta-challenge .cta_challenge_content .subtitle {
  color: #ffffff;
  line-height: 160%;
}

section.cta-challenge .cta_challenge_content button, section.cta-challenge .cta_challenge_content a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section.articles_background {
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  -webkit-transform: translateY(-17rem);
          transform: translateY(-17rem);
}

section.articles_background img {
  max-width: 150%;
}

section.challenges-section {
  padding: 6rem 1.5rem;
}

section.challenges-section h2 {
  margin-bottom: 2.4rem;
  text-align: center;
}

section.articles-section {
  padding: 6rem 0;
}

section.articles-section h2 {
  text-align: center;
}

section.articles-section .articles_list {
  gap: 2.4rem;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-y: auto;
  padding: 0 1.5rem;
  padding-bottom: 2.4rem;
  -ms-scroll-snap-type: x;
      scroll-snap-type: x;
  scrollbar-width: none;
}

section.articles-section .articles_list::-webkit-scrollbar {
  display: none;
}

section.newsletter-section {
  padding: 6rem 1.5rem 12rem;
}

.section-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
}

.section-text .main-title {
  max-width: 10ch;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.05rem;
}

.section-text .subtitle {
  font-size: 2.4rem;
}

.section-image {
  width: 100%;
  height: 100%;
  background: #898b8b;
}

.newsletter-container {
  background-color: #CCEBF9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8rem 2.4rem;
  border-radius: 3rem;
  gap: 3.2rem;
  position: relative;
  overflow: hidden;
}

.newsletter-container:nth-child(2) {
  overflow: visible;
  padding: 0 3.9rem;
}

.newsletter-container :before {
  content: '';
  position: absolute;
  background: url(../assets/svg/newsletter/lasso.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 12.8rem;
  width: 11.8rem;
  top: -2rem;
  right: -2rem;
  z-index: 0;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.newsletter-container .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
}

.newsletter-container .information .subtitle {
  color: #3B3D3D;
  width: 20ch;
  line-height: 160%;
}

.newsletter-container .information h2 {
  color: #003F5A;
  font-size: 2.8rem;
  line-height: 130%;
  text-align: left;
  font-weight: 700;
}

.form-group {
  height: auto;
  opacity: 1;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  z-index: 1;
}

.form-none {
  display: none;
}

.form-hidden {
  height: 0;
  opacity: 0;
}

#subscribe-newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.2rem;
  height: auto;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#subscribe-newsletter h5 {
  color: #3B3D3D;
  font-size: 1.4rem;
  line-height: 140%;
  margin-bottom: 0.8rem;
}

#subscribe-newsletter .form-group {
  z-index: 1;
}

#subscribe-newsletter img.zigzag {
  position: absolute;
  right: 0;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
  z-index: 0;
}

#subscribe-newsletter img.swirl {
  position: absolute;
  bottom: 0;
  right: 3rem;
  z-index: -1;
}

#subscribe-newsletter .custom_checkbox .custom_checkbox_container {
  border: 0.1rem solid #3B3D3D;
  border-radius: 2rem;
  overflow: hidden;
}

#subscribe-newsletter .custom_checkbox .custom_checkbox_container .custom_checkbox_label {
  display: block;
  text-align: center;
  padding: 1.2rem 2rem;
  border: 1px;
  background: #ffffff;
}

#subscribe-newsletter .custom_checkbox .custom_checkbox_container .custom_checkbox_label.active {
  background: #FFC000;
}

#subscribe-newsletter .custom_select .active-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#subscribe-newsletter .custom_select .active-selection span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.2rem 2rem;
  gap: 0.8rem;
  background-color: #FFC000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2rem;
  border: 1px solid;
}

.topbox-section {
  text-align: left;
  padding: 15rem 1.5rem 6rem;
  background: #F9EFD0;
}

.topbox-section h2.main-title {
  font-size: 3.2rem;
  color: #003F5A;
  text-align: left;
}

.topbox-section .subtitle {
  color: #3B3D3D;
  font-size: 1.8rem;
  line-height: 140%;
  max-width: 30ch;
  margin-bottom: 4.8rem;
}

.topbox-section img {
  display: block;
  margin: 0 auto;
}

.filters-section {
  padding: 12rem 1.5rem 6rem;
}

.filters-section::before {
  content: "";
  position: absolute;
  background: url(../assets/svg/dividers/topbox-desafios-bottom.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 6rem;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.filters-section .active-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filters-section .active-filters .active-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4rem;
  background-color: #005E86;
  padding: 1.4rem 2rem;
  border-radius: 12rem;
  color: #ffffff;
  border: 0.1rem solid #003F5A;
}

.challenge-list-section {
  padding: 0rem 1.5rem;
}

.challenge-list-section .number-results {
  display: block;
  font-size: 2.2rem;
  line-height: 140%;
  margin-bottom: 3.2rem;
  color: #3B3D3D;
}

.pagination-section {
  padding: 6rem 1.5rem 8rem;
}

.pagination-section .pagination-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-section .pagination-wrapper .pagination-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3.2rem;
  height: 3.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-section .pagination-wrapper .pagination-element.active {
  background-color: #003F5A;
  border-radius: 100%;
}

.pagination-section .pagination-wrapper .pagination-element.active a {
  color: #ffffff;
}

.challenge_list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
}

.game-background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.game-background .big-shape,
.game-background .dots {
  position: absolute;
}

.game-background .big-shape {
  top: -9rem;
  left: -20rem;
}

.game-background .dots {
  top: -7rem;
  left: 6rem;
}

body.game {
  background: #005E86;
}

.challenge-game {
  background: #005E86;
  min-height: 100vh;
  z-index: 1;
  overflow: hidden;
}

.challenge-game .choose_ciclo {
  padding: 3.2rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.challenge-game .quiz-header {
  width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}

.challenge-game .quiz-header h3 {
  color: #ffffff;
  font-size: 2rem;
  line-height: 155%;
  font-weight: 500;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 75%;
  text-align: center;
}

.challenge-game .close-challenge {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: #003F5A;
  width: 4.4rem;
  height: 4.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.challenge-game .challenge-question {
  padding: 3.2rem 1.5rem;
  color: #ffffff;
}

.challenge-game .challenge-question .question-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4.2rem;
}

.challenge-game .challenge-question .question-header .question_header_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6rem;
}

.challenge-game .challenge-question .question-header .question_number .question_number_text {
  font-size: 1.4rem;
  line-height: 140%;
}

.challenge-game .challenge-question .question-header .question_number .question_dots .dot {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #ffffff;
  border-radius: 100%;
}

.challenge-game .challenge-question .question-header .question_number .question_dots .dot.active {
  background-color: #FFC000;
}

.challenge-game .challenge-question .challenge-information {
  text-align: center;
  margin-bottom: 4.2rem;
}

.challenge-game .challenge-question .challenge-information .subtitle {
  color: #ffffff;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.challenge-game .challenge-question .challenge-information .title {
  font-size: 2rem;
  line-height: 155%;
  font-weight: 500;
  font-family: 'Poppins';
  max-width: 75%;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
}

.challenge-game .challenge-question .image-game {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.challenge-game .challenge-question .image-game .image img {
  width: 100%;
}

.challenge-game .result {
  padding: 3.2rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  text-align: center;
}

.challenge-game .result .result_title {
  font-family: "Libre Baskerville", serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 5.2rem;
}

.challenge-game .result .solution {
  color: #FCF7E8;
}

.challenge-game .result .solution img {
  z-index: 0;
}

.challenge-game .result .solution svg {
  z-index: 0;
}

.challenge-game .result .solution span {
  display: block;
  max-width: 80%;
  margin: 0 auto;
  font-size: 1.6rem;
  font-weight: 500;
  color: #003F5A;
  position: relative;
  background: #CCEBF9;
  border-radius: 3rem;
  padding: 1.2rem 2.4rem;
  margin-top: -4rem;
  margin-bottom: 2.4rem;
  z-index: 1;
}

.challenge-game .result .solution span.double {
  margin-top: -8rem;
}

.challenge-game .result .solution p {
  color: #FCF7E8;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 160%;
  margin-bottom: 3.2rem;
}

.challenge-game .result .solution p.result_small {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  line-height: 140%;
}

.challenge-game .result .solution p.result_big {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 130%;
  letter-spacing: 0.05em;
  margin-bottom: 3.2rem;
}

.challenge-game .result .solution .result_share_title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 160%;
  color: #FCF7E8;
  margin-bottom: 1.6rem;
}

.challenge-game .result .solution .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.challenge-game .result .solution a {
  display: block;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 160%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin-bottom: 5.6rem;
}

.challenge-game .result .secondary-title {
  color: #FCF7E8;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 1.6rem;
  line-height: 155%;
}

.challenge-game .multiple_question .avatar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5.6rem;
}

.challenge-game .multiple_question .avatar .avatar_background {
  position: absolute;
}

.challenge-game .multiple_question .avatar img {
  position: relative;
  margin: 0 auto;
}

.challenge-game .multiple_question .avatar .avatar_circles {
  position: absolute;
}

.challenge-game .select_pairs .pairs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 1.5em;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
  width: 100%;
}

.options .option {
  padding: 1.6rem 2.4rem;
  background: #F9EFD0;
  color: #003F5A;
  border: 0.2rem solid #ffffff;
  border-radius: 20rem;
}

.options .option.active {
  background: #FFC000;
  border-color: #003F5A;
}

.avatar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5.6rem;
}

.avatar .avatar_background {
  position: absolute;
}

.avatar img {
  position: relative;
  margin: 0 auto;
}

.avatar .avatar_circles {
  position: absolute;
}
/*# sourceMappingURL=style.css.map */