<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Footer</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>

        <footer>
            <img class="footer_logo" src="assets/svg/logo_footer.svg" alt="Pais e Alunos Logo" srcset="">

            <nav class="footer_menu">
                <ul>
                    <li><a href="equipa.html">Equipa</a></li>
                    <li><a href="artigos.html">Artigos</a></li>
                    <li><a href="desafios.html">Desafios</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </nav>

            <div class="newsletter-container">
                <div class="information">
                    <p class="subtitle">Explore o mundo digital
                        e temas atuais.</p>

                    <h2>
                        Enviamos os nossos artigos e conteúdos mais recentes.
                    </h2>
                </div>
                <form id="subscribe-newsletter">

                    <img class="zigzag" src="./assets/svg/newsletter/zigzag.svg" />

                    <div class="form-group">
                        <h5>E-mail*</h5>
                        <input type="email" name="email" id="newsletter-email" placeholder="exemplo@email.com" />
                    </div>


                    <div class="form-group custom_checkbox form-hidden form-none choose-profile">
                        <h5>Inscreva-se como</h5>
                        <div class="custom_checkbox_container">
                            <label class="custom_checkbox_label active" for="encarregado-educacao">Encarregado de
                                educação</label>
                            <label class="custom_checkbox_label" for="professor">Professor</label>

                            <input class="hidden" id="professor" name="profile" type="checkbox" value="professor" />

                            <input class="hidden" id="encarregado-educacao" name="profile" type="checkbox"
                                value="encarregado-educacao" />
                        </div>


                    </div>


                    <div class="form-group custom_select form-hidden form-none">
                        <h5>Em que ciclo(s) se encontra(m) seu(s) educandos?</h5>

                        <select id="ciclo-estudo" class="ciclo">
                            <option value="">Selecione os ciclos</option>
                            <option value="1º Ciclo">1º Ciclo</option>
                            <option value="2º Ciclo">2º Ciclo</option>
                            <option value="3º Ciclo">3º Ciclo</option>
                        </select>

                        <div class="active-selection">

                        </div>
                    </div>

                    <div class="form-group custom_select form-hidden form-none">
                        <button class="primary newsletter" type="submit">Subscrever newsletter</button>
                    </div>
                </form>
            </div>
        </footer>

        <script src="/js/newsletter.js"></script>

    </body>

</html>