<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Header</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    
    <header>
        <nav>
            <div class="header-logo">
                <img src="assets/svg/logo.svg" alt="Artigos - Detalhes">
            </div>    

            <div class="top_navigation_menus">
                <a href="#" class="act_link">A Nossa Equipa</a>
                <a href="#" class="act_link">Artigos</a>
                <a href="#" class="act_link">Desafios</a>
                <a href="#" class="act_link">Contactos</a>
            </div>

            <div lass="top_navigation_actions">
                <img class="action-icon" src="./" alt="Search">
                <button>Iniciar sessão</button>
                <button>Criar conta</button>
            </div>
        </nav>
    </header>


    <div class="mobile-menu">
        <div class="header">
            <div class="menu">
                <a href="#menu">
                    <svg class="close-icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M18 6L6 18" stroke="white" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M6 6L18 18" stroke="white" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg></a>
                <a class="header-logo">
                    <img src="/assets/svg/logo.svg" alt="Pais & Alunos">
                </a>
            </div>

            <div class="search">
                <img class="icon" src="/assets/svg/icons/search.svg" />
                <input class="rounded on-light-bg with-icon no-margin" placeholder="Filtar por" />
            </div>

        </div>


        <nav class="main-menu">
            <a href="/dashboard.html">Dashboard</a>
            <a href="/equipa.html">Equipa</a>
            <a href="/artigos.html">Artigos</a>
            <a href="/desafios.html">Desafios</a>
            <a href="/contacto.html">Contacto</a>
            </ul>
        </nav>

        <div class="create-challenge">
            <p>
                Experimente um desafio personalizado e veja o quanto conhece o seu educando
            </p>
            <button class="secondary with-icon align-center">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.5 5V19" stroke="#003F5A" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M5.5 12H19.5" stroke="#003F5A" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>

                Criar desafio
            </button>
        </div>

    </div>

    <script src="/js/app.js"></script>
    <script src="/js/newsletter.js"></script>
</body>
</html>